.contact {
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: white;
    scroll-behavior: smooth;
    padding: 5% 10% 5% 10%;
    color: black
}

.contact .introText {
    position: relative;
    padding-left: 4rem;
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.introText p {
    font-size: 1.25rem;
}

.introText::after {
    content: '';
    width: 3.8rem;
    height: 2px;
    background: #212529;
    position: absolute;
    left: 0;
    bottom: 45%;
}

.contentArea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.education {
    margin: 0 2rem 2rem 0;
    padding: 1rem;
    border: 1px solid black;
}
.desc{
    margin-bottom: 0.25rem;
}

.education img {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem 1rem 0;
}

.education h3 {
    margin-bottom: 1rem;
}

.education .desc text {
    color: #6c757d;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-color: #6c757d;
    color: white;
}