@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.home {
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}

.home .text {
    color: black;
    font-size: 60px;
    font-weight: 800;
    position: relative;
}
.home .text1{
    font-size: 60px;
    color: black;
}
.home .text2{
    font-size: 70px;
    color: black;
}

.home .firstText {
    color: black;
    margin-right: 7px;
}

.home .secText {
    font: bold;
    font-size: 80px;
}

.cursor {
    color: blue;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 50%;
    }
}